{% extends "Layout_rpa.html" %}

{% block content1 %}
<div class="btn-group">




 </div>
{% endblock content1%}

{% block content%}
<form method="POST" action="" id = "myform">

               <div id="demo" style="background-color:#fefefe; padding:2em">
                    <div class="circlechart" data-percentage="{{score}}" id="score">Total score</div>
                    <div class="circlechart" data-percentage="{{suitability}}" id="suitability"> Suitability
                    </div>
                    <div class="circlechart" data-percentage="{{readiness}}" id="readiness">Readiness</div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-button">Close</button>
            </div>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename = 'progresscircle.js') }}"></script>
<script>
       $('#close-button').click(function(){
       $('#myform').submit();
       });
       $('.circlechart').circlechart(); // Initialization


</script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


{% endblock content%}