{% extends "Layout1.html" %}


{% block content %}
    <h3><span class="badge badge-pill badge-info"> Posts for "{{tag.name}}"  tag </span></h3>

  {% for post in posts %}
       <article class="media content-section">
          <img class = "rounded article-img " src="{{ url_for('static', filename = 'profile_pics/'+post.author.image_file)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d/%m/%Y, %H:%M:%S') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('posts.post',post_id = post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content  | truncate(100)| safe}}</p>
          </div>
       </article>
  {% endfor %}
{% endblock content %}